.our-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
  }
  
.our-container h2 {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  
  .our-container h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .container p {
    margin: 0;
  }
  